/* CSS declarations go here */
body {
	background-color: azure;
}
.main {
	margin-top: 30px;
}

.full {
	height: 100%;
}

.stream {
}

.post {

}

.meta-info {
	margin-bottom: 15px;
}

.post .content {
	font-size: 14px;
	line-height: 1.4em;
	color: dimgray;
}

.post .actions .inline-list {
	margin-bottom: 0;
	margin-top: 10px;
	font-size: 14px;
}